<footer>
    <div class="footer_container">
        <div class ="footer_container_rules">
            <ul>
                <li ><a  href="/aboutus">About Us</a></li>
                <li ><a  href="#">Policy</a></li>
                <li ><a  href="#">Terms & conditions</a></li>
            </ul>
            
        </div>
        <div class ="footer_container_copyright">
           Ecommerce by Idris &copy 2020
        </div>
        <div style="margin-right:2rem" class="footer_container_social">
            <ul>
                <li ><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square social_icons " aria-hidden="true"></i></a></li>
                <li ><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter social_icons" aria-hidden="true"></i></a></li>
                <li ><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram social_icons" aria-hidden="true"></i></a></li>
            </ul>
             
            
        </div>
        
    </div>

  </footer>
  


</div>




</body>
</html>