<%- include('./includes/header.ejs')  %>

<section class="section" style="text-align: center;">
    <h3>404</h3>
    <p >Sorry page not found</p>
    <img style="max-width:100%" src="/img/robot.png">
</section>




<%-include('./includes/footer.ejs')  %>
