<%- include('./includes/header.ejs')  %>
      <section class="section" id="landing">
          <div class="landing_section_container">
              <div class="landing_small_image">
                  <img src="img/dis.jpg">
              </div>
              <div class="landing_cta">
                   
                <h1>K|<span style="color:rgb(217, 4, 41)">ZEN</span>  </h1>
                <p>What a time </p>
                <a href="/shop">Shop now</a>
            </div>
              <div class="landing_image">
                  <img src= "img/ano3.jpg" alt="watch-display" name="watch">

              </div>
             

          </div>
          <svg id="first_divider" data-name="divider 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 157.5"><polyline class="cls-1" points="0 0 512 113.94 1024 0 1024 157.5 0 157.5 0 13.4"/></svg>
      </section>

      <section class="section" id="second_section">
          <div class="second_section_container">
              <div class="second_main_image">
                  <div class="main_image_container">
                    <img src ="img/caiman-side.jpg">
                  </div>
                  <div class="second_section_text">
                    <h2>Caiman leather with white Dial</h2>
                    <p>Everybody loves a good caiman leather, and a well designed dial</p>
                    <p class="last">Combining the white and the red-orange strap attracts those with a keen eye</p>
                    <a href="/product/5"> See more</a>

                  </div>
                 

              </div>
              <div class="second_small_image">
                  <img src ='img/caiman-left.JPG' alt="watch_product" name="watch_product">
                  
              </div>

          </div>
          <svg id="divider_two" data-name="divider 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 94">
          <polygon class="cls-1" points="0 94 512 0 1024 94 0 94"/></svg>

      </section>
      <section class="section" id="third_section">
        <div class="second_section_container">
            <div class="second_main_image">
                <div class="main_image_container">
                  <img src ="img/whitefront.jpg">
                </div>
                <div class="second_section_text">
                  <h2>Tan Leather with white dial</h2>
                  <p> This combination reflects elegance and charm</p>
                  <p class="last">Combining the white and the tan strap is perfect for your daily wear</p>
                  <a href="/product/2"> See more</a>

                </div>
               

            </div>
            <div class="second_small_image">
                <img src ='img/whitedisplay.JPG' alt="watch_product" name="watch_product">
                
            </div>

        </div>
       
      
           
          
      

      </section>



    
<%- include('./includes/footer.ejs')  %>