/* general rules  */
body{
    margin:0;
    padding:0;
    
     font-family: 'Nunito', sans-serif; 
   background-color: #53917e; 
    font-size:1rem;
    animation:fadeIn 1s linear;
    letter-spacing: .2rem;
   
}



.navigation_container .active, .footer_container .active{
    color:#ef233c
   
}
body ul{
    list-style :none;
}

header{
    animation: backInDown 1s linear
}

.navigation_container a{
    text-decoration:none;
    color:white;
    font-size:1.1rem;
}
.navigation_container a:hover{
    color:#ef233c
}
.logo{
    z-index:1000;
}
.logo img{
    max-width:10rem;
    max-height:100%;
}
.navigation_container{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    height:5rem;
    font-weight:bold;
}
.navigation_shop, .navigation_list{
    align-self:center;
    z-index:1000
}
.navigation_list {
    margin-right:4rem;
}
.navigation_list ul{
    display:flex;
    flex-flow: row nowrap;
}
.navigation_list ul li{
    margin-left:1rem;
    z-index:1000
}




/*defining the main components of the landing rules */
.section {
  position :relative;
  min-height:100vh;
  padding-bottom:7rem;
  padding-top: 5rem;
}
.section img{
    transition:transform 1s linear
}
.second_main_image img:hover{
    transform:scale(1.1)
}




.landing_section_container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    min-height:80%;
    padding-bottom:10rem;
   
}

.landing_image{
   
   flex-basis:40%;
   
}

.landing_image img, .landing_small_image img{
   
 width:100%;
 max-height:100%;
    
}

.landing_small_image{
    flex-basis:25%;
    align-self:flex-end
}

.landing_cta{
    flex-basis:20%;
    text-align:right;
    margin-top:4rem;
    line-height: 2rem;
    font-size:1.2rem
}

.landing_cta h1{
    font-size:1.8rem;
    letter-spacing: .2rem;
    color:white
}

.landing_cta a{
    color:white;
    background-color:#ef233c;
    padding:.4rem;
    border:none;
    border-radius:5px;
    text-decoration:none;

    
}
.landing_cta a:hover{
    background:black;
    color:#ef233c;

}

#first_divider{
   fill:#404e7c;
   position:absolute;
   bottom:0;

}

/* second section */
#second_section {
    
    background-color: #404E7C;
    color:white
   
    
}
.second_section_container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width:80vw;
    margin:0 auto 2rem auto;
    padding-bottom:10rem;
    min-height: 100vh;
   
}

.second_main_image {
    flex-basis:50%;
}
.main_image_container img{
    width:60%;
    height:100%;
   
}


.second_small_image{
    flex-basis:30%;
   
    
}
.second_small_image img{
  width:100%;
  height:60%
  
}
.second_section_text{
    margin-left:2rem;
    width:80%;
    line-height:1.5rem;
    margin-bottom:1rem;
    color:white;
}

.second_section_text h2{
    color:#f7c548;
    
    
    margin-bottom:2rem
}
.second_section_text .last{
    margin-bottom:2rem;
  }
.second_section_text a{
    text-decoration: none;
    color:white;
    padding:.4rem;
    border-radius:5px;
    background-color: #ef233c;
    
}
.second_section_text a:hover{
    background:black;
    color:#ef233c
}

#divider_two{
    fill:#53917e;
    position:absolute;
    bottom:0;
}


/* third section */
#third_section{
    width:100%; ;
    background-color:#53917e;
    
}

#third_divider{
    position:absolute;
    
}


/* SHOP SECTION   */

.shop_section_container{
    display:flex;
    flex-direction:column;
    align-items: center;;
    padding-bottom:5rem;

}

.shop_section_container h2{
    color:wheat;
}

.slide_container{
    text-align:center;
    position:relative;
    width:100%;
}

#slider_image_two{
    position:absolute;
    right:25%;
    display:none;
}



#slider_image_one, #slider_image_two{
    margin-bottom:2rem;
    max-width:50%;
}

.shop_section_container img{
    width:80%;
    max-height: 100%;
}

.product_display_container img{
  transition:transform 1s linear
}

.product_display_container img:hover{
    transform:scale(1.2)
}
.shop_section_container p {
    color:#f7c548
}

.product_display_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    grid-template-rows: auto;
    width:100%;
    margin:0 auto;
    padding-bottom:10rem;
}

.product_display{
    text-align:center;
}
.product_display button{
    padding:.4rem;
    background-color:#ef233c;
    color:white;
    border-radius:5px;
    
}
.product_display button:hover{
    background:black;
    color:#ef233c;
}


#shop_divider, #product_divider{
    fill:#404E7C;
    position:absolute;
    bottom:0;
}




/*product section   */
#product_section{
    padding:6rem 0rem;
    
}

.product_section_container{
    box-sizing: border-box;
    width:90vw;
    display:flex;
    flex-flow: row nowrap;
    padding:1rem 1rem 6rem 1rem;
    margin:0 auto 8rem auto;
    border:2px solid white;
    border-radius:5px;
    font-size:1.3rem;
    
    
}

.product_section_image{
    flex-basis:70%;
    text-align:center;
}

.product_image img{
    width:100%;
    max-height:100%;
}

.product_section_image button{
    color:white;
    background-color: #ef233c;
    padding:.4rem;
    border-radius:5px;
    border:none;
    width:25%;
}
.product_section_image button:hover{
    background-color:black;
    color:#ef233c
}

.product_section_link{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-basis:20%;
}
.product_section_link img{
    width:80%;
    max-height:100%;
}




/* user section */

#user-section{
    padding: 8rem 0rem;
    width:90vw;
    margin:0 auto;
}
.user-section_container{
    display:flex;
    flex-flow: row nowrap;
    width:100%;
    height:100%;
    padding:8rem 0;
    
    
}
.user-section_container input{
    padding:.4rem;
}
.user-section_container button{
    background-color:#ef233c;
    color:white;
    border-radius:5px ;
    padding: .4rem;
    margin-top:1.5rem;
    width:30%;
}

.user-section_container button:hover{
    background-color:black;
    color:#ef233c;
}
.user-section_form{
    flex-basis:80%;
    border-right:1px solid white;
    
}

.user-section_container span {
    color:#f7c548
}
.form_one input {
    margin-top:1rem;
}
.user-section_register .form_input{
    display:grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: auto;
    column-gap:1.5rem;
    row-gap:1.5rem;
    margin-top:1rem
}



.user-section_image{
    flex-basis:20%;
    align-self:flex-end;
}

.user-section_image img{
    width:100%;
    max-height:100%;
}



/* abouts us section    */

#about_section{
    padding:4rem 0rem;
    width:90vw;
    margin:0 auto;
    font-size:1.5rem;
}
.about_section_container h2{
 color:#f7c548;
}
.about_section_container span{
    color:#ef233c;
    font-weight:bold;
}
.about_text{
    width:100%;
    text-align:justify;
    line-height:3rem;
    letter-spacing: .2rem;
    
}

.about_section_container a{
    color:white;
    text-decoration:none;
    border-bottom:4px solid #ef233c
}



/* popup_section  */
#popup_section{
    text-align:center;
    
    
}
.popup_container{
    border:2px solid #404E7C;
    border-radius:5px;
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -20%);
    padding:1rem;
    box-sizing: border-box;
    background-color: #404E7C;
}
.popup_container-closing{
    position:absolute;
    top:2%;
    right:2%;
}

.popup_container-message p:first-child{
    color:#f7c548;
    font-weight:bold;
    margin-top:5rem;
  
}

.popup_container-message p:last-child{
    animation:fadeOut;
    animation-duration: .6s;
    animation-iteration-count: 2;
  
}







/* profile page */
#user-profile{
    width:90vw;
    margin:0 auto;
    min-height:100vh;

}

.user-profile_container{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    padding:8rem 0;
    

}

.user-profile_form{
    border-right:1px solid white;

}
.user-profile_form button{
    margin-top:2rem;
    width:30%;
    padding:.4rem;
    background-color:#ef233c;
    
    color:white;
    border-radius:5px;
    
}
.update_form input{
    width:40%;
    margin-top:1rem;
    padding:.4rem;
}

.user-profile_form button:hover{
    background-color:black;
    color:#ef233c
}
.user-profile_image img{
 float:right;
 max-width:20%;
}
.user-profile_image{
    border-top:1px solid white;
    min-height:200px;
}
.user-profile_container .logout, .user-profile_container .delete{
    color:white;
    text-decoration:none;
    border-bottom:3px solid #ef233c;
}

.logout{
    float:right;
}






/* cart page  */
#cart_section{
    padding:5rem 0;
    font-size:.8rem;
}



.cart_section_container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
    width:90vw;
    margin:0 auto;
    
}
.cart_section_product-display{
   display:flex;
   flex-flow:row nowrap;
   border-bottom:1px solid white;
   position:relative;
   padding:.4rem;

}

.cart_image_display{
   flex-basis:20%;
}

.cart_quantity{
    align-self:center;
    flex-basis: 20%;
}
.cart_price{
    align-self:center;
    flex-basis: 10%;
}
.cart_section_close{
    flex-basis:50%;
    position:absolute;
    top:2%;
    right:2%;
}
.cart_section_close a{
    text-decoration: none;
    color:#f7c548;
    font-size:1.2rem
    
}
.cart_section_product-display img{
   max-width:100%;
    

}
.cart_quantity-button{
    text-decoration: none;
    border:2px solid #53917e;
    border-radius:50%;
    padding:.2rem;
    color:white;
    background-color:#404E7C;
    
}


.cart_section_total{
    border:1px solid white;
    padding:1rem;
    
}

.cart_section_total form input{
 width: 40%;
 padding:.2rem;
 margin-top:1rem;
}
.cart_section_total button{
    width:70%;
    padding:.4rem;
    margin-top:1rem;
    background-color:#ef233c;
    color:white;
    margin-bottom:2rem;
}

.cart_section_total a{
    text-decoration:none;
    color:white;
    background-color: #ef233c;
    border: 2px solid #53917e;
    width:auto;
    padding:.4rem;
   float:right
}

.cart_section_total a:hover, .cart_section_total button:hover{
 background-color:black;
 color:#ef233c
}





.cart_section_first_total{
    margin-top:2rem;
    text-align:right; 
    width:60vw;
    padding-bottom:10rem;
    margin-bottom:5rem;
}





/* checkout section (success and cancel) */
 #success_section{
   width:90vw;
   margin-top:10%;
   text-align:center;
}
/* footer */

footer{
    background-color:#404E7C;
    color:white;
    font-size:.7rem;
    margin-top:-.1rem;
    
}
.footer_container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    color:white;

}


footer a {
    text-decoration:none;
    color:white;

}
footer a:hover{
    color:#ef233c
}
.footer_container_copyright{

    align-self:center;
}

/* media queries */

@media screen and (max-width: 769px){
.navigation_container a{
    font-size:.8rem;
}
 

.landing_section_container{
    margin-top:6rem;
    font-size:1rem;
    
}
.landing_small_image{
    flex-basis:27%;
    align-self:center;
}

.landing_cta {
   font-size:.8rem;
   margin-top:0;
   flex-basis:20%;
   line-height: 1rem;
  
}

.landing_cta p{
    color:white;
    
}

.landing_cta a{
    padding:.2rem;

}
.landing_cta h1{
    font-size:1.2rem;
}

.second_section_container{
    width:90vw;
    font-size:.8rem;
    
    
}

.second_main_image{
    width:60%;
   
}
.main_image_container{
    width:80%;
    
}
.second_small_image{
    width:40%;
}

.second_section_text{
    margin-left:2rem;
    width:60%;
    line-height:1rem;

}
.second_section_text h2{
    margin-bottom:1rem;
    text-decoration:none;
    color:#53917e
}
.second_section_text .last{
    margin-bottom:1rem;
  }
}




@media screen and (max-width: 522px){
    body{
        font-size:1.2rem;
        line-height:2rem;
    }
    .section{
        padding-top:3rem;
    }

    
    .navigation_container a{
        font-size:.7rem;
    }
    
    .landing_cta{
        margin-top:-4rem;
        z-index:2000
    }
    .landing_image{
      position:absolute;
      top:10%;
    }
    .landing_small_image{
        display:none;
    }
    .landing_cta{
        flex-basis:60%;
    }
    .landing_small_image{
        flex-basis:30%;
    }

    .second_small_image{
        display:none;
    }
    .second_main_image{
        flex-basis:90%;
        
        align-self:center;
        margin-left:5rem;

    }
    .main_image_container img{
        width:80%;
        height:100%;
       
    }

    .second_section_text {
        width:80%;
        margin-left:0;
        line-height:1.8rem;
    }
    .product_display_container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        grid-template-rows: auto;
        width:100%;
        margin:0 auto;
        padding-bottom:10rem;
    }

    .product_section_container{
       
        flex-flow: row nowrap;
        margin:4rem auto;
        border:none;
        padding:2rem;
        font-size:.8rem;
        
      }
.product_section_image {
    flex-basis:80%;
}

.product_section_link {
  width:20%;

}
.product_section_image button{
    width:50%;

}
.product_section_image img{
    width:100%;

}

.product_section_link img{
    width:100%;
} 

.user-section_register .form_input{
    display:grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    column-gap:1rem;
    row-gap:1rem;
    margin-top:1rem
}
.form_one input 
{
    width:40%;
}
.user-section_container input {
    padding:.1rem;
 

}


.popup_container{
    font-size:.8rem;
}

.user-profile_container{
    display:grid;
    width:100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    column-gap: 2rem;
    padding:5rem 0;
    

}
.user-profile_form{
    border-right: none;
}

.update_form input{
    width:80%;
}
.user-profile_form button{
  width:50%;
}

.cart_section_container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 1rem;
    width:90vw;
    margin:0 auto;
}

.cart_section_first_total{
    display:none;
}
.cart_quantity{
    flex-basis:35%;
}


footer{
        font-size: .6rem;
        line-height:1rem;
}
    
}

@media screen and (max-width: 320px){
    body{
        font-size:1rem;
    }
    .navigation_list ul li{
        margin-left:0.5rem;
    }
    
}