<%- include('../includes/header.ejs') %>

<section class="section" id="about_section">
    <div class="about_section_container">
        <div class="about_text">
                <h2>About Us</h2>
            <p>  Founded in 2017, the idea of K|zen got born after a spiritual retreat.
                The idea was to create a souvenir that would inspire people on daily basis.
            
                K|<span>ZEN</span> logo design is based on the " kpelie Mask " spiritual symbol and
                main idea behind the collection.
            
            
                Combining beautiful dial, quality leather and affordable price, got us where
            we are today. 
         
          
            
        
            Our goal is to grow with you the client. Also master what we do.
            Do not Hesitate to <a href="/shop">shop</a> !

         

            </p>
            
        </div>
        

    </div>


    <svg id="product_divider" data-name="divider 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 94">
        <polygon class="cls-1" points="0 94 512 0 1024 94 0 94"/></svg>
</section>


<%-include('../includes/footer.ejs')  %>