<%- include('../includes/header.ejs') %>

<section class="section">
    <div class="about_section_container">
        <div class="about_text" style="width:90vw; margin:0 auto;text-align:justify; font-size:1.5rem">
                <h2>Our Policy</h2>
            <p> Store policy.... 
                i will not write anything here on purpose.</p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel fugiat, nisi voluptatum nam sed odit rerum autem alias 
                numquam aut exercitationem deserunt quisquam, ullam assumenda nesciunt.
                 Minus, ullam amet.
                
            <a href="/shop">shop</a> !

         

            </p>
            
        </div>
        

    </div>


    <svg id="product_divider" data-name="divider 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 94">
        <polygon class="cls-1" points="0 94 512 0 1024 94 0 94"/></svg>
</section>


<%-include('../includes/footer.ejs')  %>