<%- include('../includes/header.ejs')  %>

<section class="section" id="product_section">
    <div class="product_section_container">
        <div class="product_section_image">
            <div class="product_image">
                <img src="img/whitefront.jpg">

            </div>
            <div class="product_detail">
                <p>i do wanna lose time chilling anymore
                </p>
                <p>
                    i need to get this done i am getting sick and tired of it
                </p>

            </div>
            <div style="text-align:center">
                <button>
                    add to cart
                </button>
            </div>
            

        </div>
        <div class="product_section_link">
            <a href="" id="display"><img src="img/caiman-front.jpg"></a>
            <a href="" id="front"><img src="caimandisplay.jpg"></a>
            <a href="" id="back"><img src="img/dial.jpg"></a>

        </div>



    </div>
    <svg id="product_divider" data-name="divider 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 94">
        <polygon class="cls-1" points="0 94 512 0 1024 94 0 94"/></svg>


</section>

<%- include('../includes/footer.ejs') %>