<%- include('../includes/header.ejs')  %>
  <section class="section" id="shop_section">

        <div class="shop_section_container">
            <h2>K|<span style="color:rgb(217,4,41)">ZEN</span> COLLECTION </h2>
            <img id= "sliderImage" src="img/shopbackground.jpg">
            <div class="product_display_container">
                <div class="product_display">
                    
                    <a href="#">
                        <img  src="img/whitefront.jpg">
                    </a>
                    <p>white dial with tan leather strap</p>
                    <form method="POST" action="#">
                        <button>Add to Cart</button>
                    </form>

                </div>

                <div class="product_display">
                    
                    <a href="#">
                        <img src="img/whitefront.jpg">
                    </a>
                    <p>white dial with tan leather strap</p>
                    <form method="POST" action="#">
                        <button>Add to Cart</button>
                    </form>

                </div>
                <div class="product_display">
                    
                    <a href="#">
                        <img src="img/whitefront.jpg">
                    </a>
                    <p>white dial with tan leather strap</p>
                    <form method="POST" action="#">
                        <button>Add to Cart</button>
                    </form>

                </div>
                <div class="product_display">
                    
                    <a href="#">
                        <img src="img/whitefront.jpg">
                    </a>
                    <p>white dial with tan leather strap</p>
                    <form method="POST" action="#">
                        <button>Add to Cart</button>
                    </form>

                </div>
                <div class="product_display">
                    
                    <a href="#">
                        <img src="img/whitefront.jpg">
                    </a>
                    <p>white dial with tan leather strap</p>
                    <form method="POST" action="#">
                        <button>Add to Cart</button>
                    </form>

                </div>
                <div class="product_display">
                    
                    <a href="#">
                        <img src="img/whitefront.jpg">
                    </a>
                    <p>white dial with tan leather strap</p>
                    <form method="POST" action="#">
                        <button>Add to Cart</button>
                    </form>

                </div>

            </div>

        </div>
        <svg id="shop_divider" data-name="divider 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 94">
            <polygon class="cls-1" points="0 94 512 0 1024 94 0 94"/></svg>
  

  </section>


<%- include('../includes/footer.ejs')  %>